.admin-header{
    width: 100vw;
    height: 70px;
    ul{

    }
}
.admin-login{
    width: 100vw;
    height: 100vh;
    form{
        max-width: 320px;
    }
}
.admin-main{
    width: 100vw;
    min-height:calc(100vh - 70px);
   
    .admin-aside{
        min-width: 220px;
        overflow: hidden;
        background-color: #eee;
    }
}
.admin-home{
    padding: 30px;
    canvas{
        width: 350px !important;
        height: 350px !important;

    }
}