.home-slider{
    .splide__arrows, .splide__pagination{
        display: none;
    }
    .splide-item{
        width: 100vw;
        height: calc(100vh - 80px);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        .splide-content{
            width: 30%;
            margin-left: 10%;
        }
    }
}
.blog-video{
    width: 100vw;
    min-height:100vh ;
    background-color: #e1e1e1;
    .product-md-card{
        height: 450px;
    }
   .video{
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

   }
   .content{
    width: 50%;
   }
}